header{
    text-align: center;
    background-color: blue;
    color: lightgray;
}

#card {
    background-color: darkblue;
    color: white;
}

.currWeather {
    border: solid;
}

.fiveDay {
    font-size: 150%;
}

#futWeath , #futWind , #futHumidity {
    font-size: 80%;
}

.futWeath div h3 {
    font-size: 130%;
}